<mat-toolbar >
    <mat-toolbar-row>
        
       Accepted Invoices
        
    </mat-toolbar-row>
</mat-toolbar>



 <table mat-table [dataSource]="this.invoiceDisplay" *ngIf="!this.empty" class="mat-elevation-z8">

 <!-- - Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition"  -->

  
  <ng-container matColumnDef="invoiceId">
    <th mat-header-cell *matHeaderCellDef> Invoice Number </th>
    <td mat-cell *matCellDef="let element"> {{element.invoiceId}} </td>
  </ng-container>

  <ng-container matColumnDef="contractId">
    <th mat-header-cell *matHeaderCellDef> Contract Number </th>
    <td mat-cell *matCellDef="let element"> {{element.contractId}} </td>
  </ng-container> 

  <ng-container matColumnDef="companyVendor">
    <th mat-header-cell *matHeaderCellDef> Vendor </th>
    <td mat-cell *matCellDef="let element"> {{element.companyVendor}} </td>
  </ng-container> 
   <!-- Name Column  -->
  <ng-container matColumnDef="companyClient">
    <th mat-header-cell *matHeaderCellDef> Client </th>
    <td mat-cell *matCellDef="let element"> {{element.companyClient}} </td>
  </ng-container>

  <!-- Weight Column  -->
  <ng-container matColumnDef="invoiceAmount">
    <th mat-header-cell *matHeaderCellDef> Invoice Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.invoiceAmount | currency}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="contractRaisedBy">
    <th mat-header-cell *matHeaderCellDef> Contract Raised By </th>
    <td mat-cell *matCellDef="let element"> {{element.contractRaisedBy}} </td>
  </ng-container> -->

 
  
  <ng-container matColumnDef="dueDate">
    <th mat-header-cell *matHeaderCellDef> Due Date </th>
    <td mat-cell *matCellDef="let element"> {{element.dueDate | date}} </td>
  </ng-container> 

  <ng-container matColumnDef="invoiceRaisedBy">
    <th mat-header-cell *matHeaderCellDef> Invoice Raised By </th>
    <td mat-cell *matCellDef="let element"> {{element.invoiceRaisedBy}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status</th>
    <td mat-cell *matCellDef="let element"> {{element.status }} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>  -->
  <ng-container matColumnDef="action" >
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element" > 
        <div class="example-button-row" *ngIf="this.service.isCCM()">
            <button mat-raised-button color="primary"(click)="changeStatus(element)">Approve Invoice</button>  
           
            </div>  
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-card class="mat-elevation-z10" *ngIf="this.empty">
  <h4><b>{{this.errorMessage}}</b></h4>
</mat-card>


