mat-toolbar{
    background-color: lightcyan;
    color: blue;
}
table{
    width: 100%;
}
.edit{
    color: darkgreen;
}
.delete{
    color:red;
}
.content2{
    padding: 16px;
    height: 100%;
   }