 body{
  
  margin: 0;
  padding: 0;
 
 box-sizing: border-box;
  font-family: 'Poppins' ,sans-serif;
}

section{
position: relative;
height: 100%;
width: 100%;
display: flex;
}

 img{
  position: absolute;
  
  left: 4%; 
  width: 56%;
  height:100%;
 
}

section .contentBx{
  display:flex;
   justify-content: center; 
  align-items: center;
  
  width: 50%;
  height: 100%;
  transform: translate(96%, 4%); 
  
  
}
